<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_WebLayout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="HeadBar">
            <div class="HeadContainer">
                <div class="HeadHome">
                    <a asp-area="" asp-page="/Index">Home</a>
                </div>

                <div class="HeadList">
                    <a asp-area="" asp-page="/Login">Log in</a>
                    <a asp-area="" asp-page="/Register">Register</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
