nav.head-bar {
	background-color: var(--LayoutColor);
	color: var(--colortext);
	width: 100%;
	height: max-content;
	padding: 0.4rem 0;
}

header {
	position: sticky;
	position: -webkit-sticky;
	top: 0px;
	z-index: 100;
	margin-bottom: 0.5rem;
}

.head-container {
	width: 100%;
	max-width: 82.5rem;
	height: max-content;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
}

.head-home {
	display: block;
	width: max-content;
}

img.user-info-mobile {
	display: inline;
	width: 6.5vh;
	height: 6.5vh;
	margin: 0.3rem;
	margin-left: 1rem;
	cursor: pointer;
	border: 1px solid var(--BorderColor);
	border-radius: 50%;
	transition: box-shadow 0.1s;
}

.head-home a {
	text-decoration: none;
	font-size: var(--BigTextsize);
	color: var(--colortext);
	margin: 0.5rem;
}

.head-list {
	width: 3rem;
	height: 3rem;
	margin-left: auto;
	margin-right: 1rem;
	cursor: pointer;
	position: relative;
}

.head-list-buttons {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0.5rem;
	flex-wrap: wrap;
	align-content: space-around;
}

.head-list-buttons > div {
	width: 100%;
	height: 0.3rem;
	background-color: var(--BorderColor);
}

.head-list-buttons:hover > div {
	background-color: rgb(150, 150, 150);
}

.tab-list {
	position: absolute;
	display: flex;
	background-color: var(--ShadowColor);
	flex-direction: column;
	right: 0;
}

.tab-list a {
	text-decoration: none;
	font-size: var(--BigTextsize);
	color: var(--colortext);
	margin: 0.5rem;
}

.tab-list a.right{
	margin-left: 0.5rem;
}

.alert-message {
	position: relative;
	background-color: var(--ShadowColor);
	color: var(--colortext);
	width: 100%;
	height: fit-content;
	padding: 1rem 1.2rem;
	font-size: var(--SmallTextsize);
	overflow: auto;
	border-top: 0.01rem solid white;
	border-bottom: 0.01rem solid white;
}

.close-button {
	position: absolute;
	display: inline;
	border-radius: 50%;
	cursor: pointer;
	background-image: url(../button.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-clip: border-box;
	width: 1.2rem;
	height: 1.2rem;
	right: 1rem;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.display-tab {
	display: block;
	position: absolute;
	width: 100%;
	background-color: var(--LayoutColor);
	height: 110vh;
	transition: all 0.5s;
	right: 100%;
}

.display-tab.left {
	transform: translate(100%, 0);
}

@media only screen and (min-width: 225px) {
	.display-tab {
		width: 80%;
	}
}

@media only screen and (min-width: 564px) {
	.tab-list a.right {
		margin-left: auto;
	}

	.display-tab {
		width: 60%;
	}

	.head-list {
		width: 100%;
		height: fit-content;
		margin-left: 0;
		margin-right: 0;
		cursor: default;
		border-radius: 0;
	}

	.tab-list {
		width: 100%;
		background-color: transparent;
		position: static;
		flex-direction: unset;
		align-items: center;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.head-list-buttons {
		display: none;
	}
}

@media only screen and (min-width: 820px) {
	.head-home {
		display: none;
	}

	.display-tab {
		display: none;
	}

	.user-info-mobile {
		display: none;
	}
}