
nav.HeadBar {
    background-color: var(--LayoutColor);
    color: var(--colortext);
    width: 100%;
    height: max-content;
    padding: 0.7rem 0 0.7rem 0;
    margin: 0;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 100;
    margin-bottom: 0.5rem;
}

div.HeadContainer {
    width: 100%;
    max-width: 82.5rem;
    height: max-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

div.HeadHome {
    display: block;
    width: max-content;
    margin: 0;
    padding: 0;
}

img.UserInfoMobile {
    display: inline;
    width: 6.5vh;
    height: 6.5vh;
    margin: 0.3rem;
    cursor: pointer;
    border: 1px solid var(--BorderColor);
    border-radius: 50%;
}

div.HeadHome a {
    text-decoration: none;
    font-size: var(--BigTextsize);
    color: var(--colortext);
    margin: 0.5rem;
}

div.HeadList {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.HeadList a {
    text-decoration: none;
    font-size: var(--textsize);
    color: var(--colortext);
    margin: 0.5rem;
}

div.HeadList a.Right{
    margin-left: unset;
}

div.AlertMessage {
    position: relative;
    background-color: var(--ShadowColor);
    color: var(--colortext);
    width: 100%;
    height: fit-content;
    padding: 1rem 1.2rem;
    font-size: var(--SmallTextsize);
    overflow: auto;
    border-top: 0.01rem solid white;
    border-bottom: 0.01rem solid white;
}

.CloseButton {
    position: absolute;
    display: inline;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(../button.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: border-box;
    width: 1.2rem;
    height: 1.2rem;
    right: 1rem;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div, input, p, button {
    color: var(--colortext);
}

@media only screen and (min-width: 400px) {
    div.HeadList a.Right {
        margin-left: auto;
    }
}