* {
	box-sizing: border-box;
}

.form-container {
	width: 100%;
	padding: 1.5rem;
	border-radius: 0.7rem;
}

.field-container {
	width: 100%;
	color: var(--colortext);
	font-size: var(--textsize);
	margin-bottom: 1.5rem;
}

.field-container > input, textarea {
	width: 100%;
	border: 1px solid var(--BorderColor);
	background-color: transparent;
	border-radius: 0.7rem;
	color: var(--colortext);
	padding: 0.4rem 0.5rem;
	margin-bottom: 0.5rem;
}

.button-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: var(--colortext);
	font-size: var(--textsize);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.button-container > input {
	background-color: transparent;
	width: fit-content;
	color: var(--colortext);
	padding: 0.6rem;
	border: 1px solid var(--BorderColor);
	border-radius: 0.5rem;
}

.button-container a {
	border: 1px solid var(--BorderColor);
	border-radius: 0.5rem;
	width: fit-content;
	padding: 0.6rem;
	color: var(--colortext);
	text-decoration: none;
}

@media only screen and (min-width: 820px) {
	.form-container {
		margin-right: auto;
		margin-left: auto;
		width: 50%;
		border: 1px solid var(--BorderColor);
	}

	.button-container {
		display: flex;
		flex-wrap: nowrap;
	}
}