* {
	box-sizing: border-box;
}

.form-container {
	width: 100%;
	padding: 1.5rem;
	border-radius: 0.4rem;
	max-width: 40rem;
}

.field-container {
	width: 100%;
	color: var(--colorText);
	font-size: var(--normalFS);
	margin-bottom: 1.5rem;
}

.field-container > input {
	width: 100%;
	border: 1px solid var(--borderColor);
	background-color: transparent;
	border-radius: 0.4rem;
	color: inherit;
	padding: 0.4rem 0.5rem;
	margin-bottom: 0.5rem;
}

.field-container > textarea {
	width: 100%;
	border: 1px solid var(--borderColor);
	background-color: transparent;
	border-radius: 0.4rem;
	color: inherit;
	padding: 0.4rem 0.5rem;
	margin-bottom: 0.5rem;
}

.field-container > label {
	display: block;
}

.button-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	font-size: inherit;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.button-container > input {
	background-color: transparent;
	width: fit-content;
	color: inherit;
	padding: 0.6rem;
	border: 1px solid var(--borderColor);
	border-radius: 0.4rem;
}

.button-container a {
	border: 1px solid var(--borderColor);
	border-radius: 0.4rem;
	width: fit-content;
	padding: 0.6rem;
	color: inherit;
	text-decoration: none;
}

@media only screen and (min-width: 768px) {
	.form-container {
		margin-right: auto;
		margin-left: auto;
		border: 1px solid var(--borderColor);
	}

	.button-container {
		display: flex;
		flex-wrap: nowrap;
	}
}