/*EditProfilePage*/
div.SettingsCenterBox {
    width: 100%;
    margin-right: 0;
    border: 0;
    display: block;
}
.EditProfileForm {
    width: 100%;
}

div.SettingsPicFrame {
    width: 60%;
    /*border: 1px solid green;*/
}

div.SettingsPicFrame img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    border: 1px solid white;
    margin-bottom: 0.5rem;
}

div.InputSettings {
    width: 100% !important;
    padding: 0;
    border-radius: 0 !important;
    /*border: 1px solid blue;*/
}

div.InputSettings label {
    margin: 0;
}

div.InputSettings input {
    margin: 0;
    width: 100%;
    margin-bottom: 0.8rem;
    background-color: transparent;
    color: var(--colortext);
    border: 1px solid var(--white);
}

div.InputSettings textarea {
    min-height: 15rem;
    width: 100%;
    max-width: 40rem;
    margin: 0;
    margin-bottom: 0.8rem;
    background-color: transparent;
    color: var(--colortext);
    border: 1px solid var(--white);
}

div.SettingsButton {
    width: 100%;
}

.ButtonEdit {
    background-color: transparent;
    color: var(--colortext);
    border: 1px solid var(--white);
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: var(--textsize);
    display: block;
}
/*EditProfilePage*/

/*AppearanceOptionsPage*/
div.AppearanceOptions * {
    font-size: var(--textsize);
    color: var(--colortext);
}

div.AppearanceOptions br, hr{
    margin: 0.5rem;
}
/*AppearanceOptionsPage*/

@media only screen and (min-width: 1000px) {
    div .LeftBox {
        display: block;
        width: 39.5%;
        height: 100%;
        margin-right: 0.5%;
        /*border: 1px solid green;*/

        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }

    div.UserInfo {
        width: 100%;
        height: max-content;
        color: var(--colortext);
        font-size: 1.5rem;
        padding: 0.3rem;
        /*border: 1px solid blue;*/
    }

    img.UserProfilePic {
        width: 40vh;
        height: 40vh;
        border: 1px solid white;
        border-radius: 50%;
        margin: 0.5rem;
        display: block;
    }

    div.PostInfo .PostOptionButton {
        margin-right: 1.2rem;
    }

    .PostForm input {
        text-align: left;
    }

    .PostDiv {
        width: 50rem;
    }

    div.UserInfo p {
        margin: 0.3rem 0.5rem;
        display: block;
    }

    div.UserInfo a {
        margin: 0.3rem 0.5rem;
        display: block;
    }

    div.UserInfo p.UserDescription {
        font-size: 1.2rem;
        white-space: pre-wrap;
    }

    div.CenterBox {
        width: 60%;
    }

    /*EditProfilePage*/

    div.SettingsPicFrame {
        width: 30%;
        float: right;
    }

    div.InputSettings {
        width: 70% !important;
        float: left;
    }

    div.InputSettings input {
        width: 80%;
    }

    div.InputSettings textarea {
        width: 80%;
    }

    div.SettingsButton {
        clear: both;
    }

    div.ActionsBox {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    div.ActionsBox a {
        text-decoration: none;
        width: 100%;
        padding: 0;
        margin: 0;
        color: var(--colortext);
        font-size: 22px;
    }

    div.ActionsBox a:hover {
        color: var(--colortext);
        background-color: rgb(30, 30, 30);
    }
    /*EditProfilePage*/
}