* {
	box-sizing: border-box;
}

.box-container {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
}

.left-box {
	display: none;
}

.user-info {
	width: 100%;
	padding: 0.6rem;
	font-size: var(--BigTextsize);
	left: 0;
	top: 75px;
	position: sticky;
	position: -webkit-sticky;
}

.user-info > div {
	margin: 0.5rem 0;
}

img.user-pic {
	width: 20vh;
	height: 20vh;
	border: 1px solid var(--BorderColor);
	border-radius: 50%;
	display: block;
}

.user-username {
	font-size: 2rem;
}

.user-description {
	white-space: pre-wrap;
	font-size: var(--textsize)
}

.user-dob {
	font-size: var(--textsize)
}

.center-box {
	width: 100%;
	height: fit-content;
	border-left: 1px solid var(--BorderColor);
	border-right: 1px solid var(--BorderColor);
	display: flex;
	flex-direction: column;
}

.create-post-container {
	width: 100%;
	padding: 1rem;
	border-top: 1px solid var(--BorderColor);
	border-bottom: 1px solid var(--BorderColor);
}

.create-post-button {
	width: fit-content;
	padding: 0.5rem 2rem;
	background-color: transparent;
	height: max-content;
	margin: 0 auto;
	display: block;
	border-radius: 0.5rem;
	border: 1px solid var(--BorderColor);
	font-size: var(--textsize);
}

.right-box {
	display: none;
}

.list-user-pic {
	width: 3.5rem;
	height: 3.5rem;
}

.list-user-description {
	display: none !important;
}

@media only screen and (min-width: 768px) {
	.left-box {
		display: block;
		width: 30%;
	}

	.post-info .post-option-button {
		margin-right: 1.2rem;
	}

	.post-form {
		left: 0;
		right: unset;
	}

	.post-form input {
		text-align: left;
	}

	.center-box {
		width: 70%;
	}
}

@media only screen and (min-width: 1024px) {
	div.left-box {
		width: 25%;
	}

	img.user-pic {
		width: 25vh;
		height: 25vh;
		max-width: 17rem;
		max-height: 17rem;
	}

	div.center-box {
		width: 50%;
	}

	div.right-box {
		display: block;
		margin-left: 0.5%;
		width: 24.5%;
	}
}