body {
    box-sizing: border-box;
    background-color: var(--magenta);
}

:root {
    --magenta: rgb(51, 0, 102);
    --white: white;
    --colotext: white;
    --bodercolor: rgb(51, 0, 102);
    --postBorder: rgb(128, 128, 128);
    --textsize: 1.4rem;
}

div.AllContainer {
    position: absolute;
    left: 0px;
    width: 100%;
    height: max-content;

    display: flex;
    flex-wrap: nowrap;
}

div.LeftBox {
    display: none;
}

div.CenterBox {
    /*border: 1px solid green;*/
    height: max-content;
    width: 100%;
    padding: 1rem 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button.CreatePostButton {
    width: 50%;
    background-color: var(--magenta);
    border: 1px solid var(--postBorder);
    height: max-content;
    margin: 0 auto;
    display: block;
    color: var(--colotext);
    border-radius: 2rem;
    font-size: var(--textsize);
}

div.Post {
    display: block;
    width: 100%;
    height: max-content;
    border-top: 1px solid var(--postBorder);
    border-bottom: 1px solid var(--postBorder);
    padding: 0.8rem;
    margin-bottom: 1rem;
    color: var(--colotext);
    font-size: var(--textsize);
}

div.PostInfo {
    width: 100%;
    height: max-content;
    padding: 0.3rem;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid var(--bodercolor);
}

div.PostInfo img {
    display: inline;
    width: 3.3rem;
    height: 3.3rem;
    background-color: var(--white);
    border-radius: 50%;
    margin-right: 0.5rem;
}

div.PostContent {
    width: 100%;
    height: max-content;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    display: flex;
    justify-content: center;

    /*border: 1px solid yellow;*/
}

div.PostStats {
    width: 100%;
    height: max-content;
    padding: 0.5rem;
    padding-top: 0.7rem;
    display: flex;
    justify-content: left;
    border-top: 1px solid var(--bodercolor);
}

div.PostStats button {
    display: inline;
    background-color: var(--magenta);
    border: 1px solid var(--bodercolor);
    width: max-content;
    height: 3rem;
    color: var(--colotext);
    font-size: 1.2rem;
    margin-right: 0.8rem;
}

div.PostStats button p{
    display: inline;
    margin-right: 0.6rem;
}

div.PostStats button span{
    font-size: 1.1rem;
}

div.RightBox {
    display: none;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (min-width: 990px) {
    div.LeftBox {
        display: block;
        width: 25%;

        border: 1px solid blue;
        height: max-content;
    }

    div.UserInfo {
        width: 100%;
        height: max-content;
        color: var(--colotext);
        font-size: 2.1rem;
        padding: 0.3rem;

        border: 1px solid green;
    }

    img.UserProfilePic {
        width: 17rem;
        height: 17rem;
        background-color: var(--white);
        border: 1px solid var(--magenta);
        border-radius: 50%;
        margin: 0.5rem;
        display: block;
    }

    div.UserInfo p {
        margin: 0 0.5rem;
    }

    div.CenterBox {
        width: 50%;
    }

    div.RightBox {
        display: block;
        width: 25%;

        border: 1px solid red;
        height: 10rem;
    }
}