.post-div {
    width: 100%;
    max-width: 50rem;
    padding: 1rem;
    background-color: var(--BackgroundColor);
    border: 1px solid var(--BorderColor);
    border-radius: 0.7rem;
    color: var(--colortext);
    font-size: var(--textsize);
    display: none;
    z-index: 20;
}

.content-holder {
    width: 100%;
    height: 100%;
}

.content-holder textarea {
    width: 100%;
    min-height: min-content;
    height: 15rem;
    resize: none;
    margin: 0.3rem 0;
}

.image-holder {
    width: 20%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.button-holder {
    display: flex;
    justify-content: space-around;
}

.button-holder input {
    width: fit-content;
    background-color: Transparent;
    border: 1px solid var(--BorderColor);
    padding: 0.25rem 0.7rem;
    font-size: var(--BigTextsize);
    color: var(--colortext);
}

.button-holder label {
    width: fit-content;
    display: inline;
    border: 1px solid var(--BorderColor);
    padding: 0.25rem 1rem;
    font-size: var(--BigTextsize);
    cursor: pointer;
    text-align: center;
}
