body {
    box-sizing: border-box;
    background-color: var(--BackgroundColor);
    color: var(--colortext);
}

div.CentralContainer {
    width: 100%;
    border: 1px solid var(--BorderColor);
    border-radius: 3rem;
    padding: 0.5rem;
}

div.FieldContainer {
    border: 1px solid var(--BackgroundColor);
    border-radius: 3rem;
    width: 100%;
    padding: 1.5rem;
}

div.FieldContainer label{
    display: block;
    margin: 0rem auto;
    color: var(--colortext);
    font-size: var(--textsize);
}

div.FieldContainer input, textarea {
    display: block;
    margin: 0rem auto;
    font-size: var(--textsize);
    width: 100%;
    height: 3.0rem;
    color: var(--colortext);
    border: 1px solid var(--BorderColor);
    background-color: transparent;
    border-radius: 1rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

div.ButtonContainer {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    /*border: 1px solid black;*/

    display: flex;
    flex-wrap: wrap-reverse;
}

div.ButtonContainer input {
    display: block;
    background-color: transparent;
    color: var(--colortext);
    margin: 0.5rem auto;
    padding: 1rem 1rem;
    border: 1px solid var(--BorderColor);
    border-radius: 1.5rem;
    font-size: 1.6rem;
    text-align: center;
    width: 70%;
}

div.ButtonContainer a {
    display: block;
    font-size: 1.4rem;
    text-align: center;
    margin: 0.5rem auto;
    width: 70%;
}

.CenterOb {
    text-align: center;
}

@media only screen and (min-width: 990px) {
    div.CentralContainer {
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }

    div.ButtonContainer a {
        width: 50%;
    }

    div.ButtonContainer input {
        width: 40%;
    }

    div.ButtonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }
}