* {
	box-sizing: border-box;
}

body {
	background-color: var(--BackgroundColor);
	color: var(--colortext);
}

div.form-container {
	width: 100%;
	padding: 1.5rem;
	border-radius: 0.7rem;
}

div.field-container {
	width: 100%;
	color: var(--colortext);
	font-size: var(--textsize);
	margin-bottom: 1.5rem;
}

div.field-container input, textarea {
	width: 100%;
	border: 1px solid var(--BorderColor);
	background-color: transparent;
	border-radius: 0.7rem;
	padding: 0.4rem 0.8rem;
	margin-bottom: 0.5rem;
}

div.button-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	color: var(--colortext);
	font-size: var(--textsize);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.button-container input {
	background-color: transparent;
	width: fit-content;
	padding: 0.6rem;
	border: 1px solid var(--BorderColor);
	border-radius: 0.5rem;
}

div.button-container a {
	border: 1px solid var(--BorderColor);
	border-radius: 0.5rem;
	width: fit-content;
	padding: 0.6rem;
	color: var(--colortext);
	text-decoration: none;
}

@media only screen and (min-width: 820px) {
	div.form-container {
		margin-right: auto;
		margin-left: auto;
		width: 50%;
		border: 1px solid var(--BorderColor);
	}

	div.button-container {
		display: flex;
		flex-wrap: nowrap;
	}
}