.center-box {
	border: 1px solid red !important;
	display: block;
}

.box-container {
	flex-direction: column;
}

.top-box {
	width: 100%;
}

.actions-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.actions-container a {
	text-decoration: none;
	width: fit-content;
	padding: 0 0 0.4rem 0;
	margin: 0.5rem 0.5rem;
	color: var(--colortext);
	font-size: 16px;
}

.actions-container a:hover {
	font-size: 17px;
}

/*EditProfilePage*/
.settings-pic-frame {
	width: 60%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}

.field-container {
	border: 1px solid green;
}

.field-container > input {
	display: block;
	padding: 0.4rem;
	width: 90%;
}

.field-container > label {
	display: block;
}

.field-container > textarea {
	display: block;
	padding: 0.4rem;
	width: 90%;
	height: 15rem;
}

.settings-pic-frame img {
	width: 100%;
	height: auto;
	max-width: 15rem;
	max-height: 15rem;
	border-radius: 50%;
	border: 1px solid var(--BorderColor);
	margin-bottom: 0.5rem;
}

.settings-button {
	width: 100%;
}

.button-edit {
	background-color: transparent;
	border: 1px solid var(--BorderColor);
	padding: 0.5rem;
	width: fit-content;
	border-radius: 1rem;
	font-size: var(--textsize);
	display: block;
}

/*AppearanceOptionsPage*/
.appearance-options * {
	font-size: var(--textsize);
}

.appearance-options > .label-block {
	display: block;
}

.Switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	float: right;
}

.ToggleButton {
	opacity: 0;
	width: 0;
	height: 0;
}

.BallButton {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--colortext);
	-webkit-transition: .4s;
	transition: .4s;
}

.BallButton:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--BackgroundColor);
	-webkit-transition: .4s;
	transition: .4s;
}

.ToggleButton:checked + .BallButton {
	background-color: var(--ShadowColor);
}

.ToggleButton:focus + .BallButton {
	box-shadow: 0 0 1px var(--colortext);
}

.ToggleButton:checked + .BallButton:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.BallButton.round {
	border-radius: 34px;
}

.BallButton.round:before {
	border-radius: 50%;
}

@media only screen and (min-width: 820px) {
	/*EditProfilePage*/
	.settings-pic-frame {
		width: 30%;
		float: right;
	}

	.field-container {
		width: 70% !important;
		float: left;
	}

	.field-container > input {
		width: 70%;
	}

	.field-container > textarea {
		width: 80%;
		height: 20rem;
	}

	.settings-button {
		clear: both;
	}
}

@media only screen and (min-width: 1600px) {
	.center-box {
		width: 60% !important;
	}
}