.box-container {
	display: block;
	padding: 0.5rem;
}

.search-bar-box {
	width: 100%;
	margin: 0 auto 1rem;
}

.search-user-bar {
	width: 100%;
	font-size: var(--bigFS);
	color: inherit;
}

.search-navigation-bar {
	border: 1px solid var(--borderColor);
	margin: 0 auto;
	gap: 1rem;
	overflow-x: auto;
	justify-content: initial;
}

.search-navigation-bar span {
	white-space: nowrap;
	cursor: pointer;
}

.users-table {
	display: grid;
	width: 100%;
	margin: 0 auto;
	overflow-x: auto;
}

.users-table {
	counter-reset: ranking;
}

.user-list-container {
	width: 100%;
	padding: 0.5rem 0.8rem;
	display: flex;
	align-items: center;
	border: 1px solid var(--borderColor);
	gap: 1rem;
}

.user-list-container:has(.user-list-stats-box)::before {
	counter-increment: ranking;
	content: counter(ranking) ")";
	font-size: 1.6rem;
}

.user-list-info {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.user-list-pic {
	min-width: 7rem;
	min-height: 7rem;
	width: 7rem;
	height: 7rem;
	object-fit: cover;
	cursor: pointer;
	border: 1px solid var(--borderColor);
	border-radius: 50%;
}

.list-name-container {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.user-list-username {
	text-decoration: none;
	color: inherit;
	font-size: var(--bigFS);
	width: 100%;
	font-weight: bold;
}

.user-list-name {
	width: 100%;
	white-space: nowrap;
}

.user-list-content {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.7rem;
	text-align: center;
}

.user-list-description {
	display: none;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	height: fit-content;
	/*max-height: 7rem;*/
	font-size: var(--smallFS);
	text-align: center;
}

.user-list-stats-box {
	border-left: 1px solid var(--borderColor);
	padding-left: 0.7rem;
	width: fit-content;
	font-size: var(--bigFS);
	text-align: center;
}

.user-list-stats-name {
	white-space: nowrap;
	margin: 0 0 0.5rem;
	text-align: inherit;
}

.user-list-stats {
	text-align: inherit;
}

@media only screen and (min-width: 545px) {
	.user-list-info {
		width: fit-content;
	}

	.user-list-description {
		display: block;
	}

	.search-navigation-bar {
		justify-content: space-around;
		gap: 0.5rem;
	}
}

@media only screen and (min-width: 768px) {
	.user-list-container:has(.user-list-stats-box)::before {
		font-size: 2rem;
	}

	.users-table {
		width: 90%;
	}

	.search-bar-box {
		width: 90%;
	}

	.search-navigation-bar {
		width: 90%;
	}
}

@media only screen and (min-width: 1024px) {
	.users-table {
		width: 75%;
	}

	.search-bar-box {
		width: 75%;
	}

	.search-navigation-bar {
		width: 75%;
	}
}

/* Use fo the likes and followers tab */
.users-list-tab {
	display: flex;
	height: fit-content;
	max-height: 95%;
	width: 100%;
	max-width: 30rem;
	flex-direction: column;
	overflow: auto;
	background-color: var(--bgColor);
}

/* width */
.users-list-tab::-webkit-scrollbar {
	width: 5px;
}

/* background */
.users-list-tab::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
.users-list-tab::-webkit-scrollbar-thumb {
	background: var(--borderColor);
	border-radius: 4px;
}

/* Handle on hover */
.users-list-tab::-webkit-scrollbar-thumb:hover {
	background: var(--layoutColor);
}

.users-list-tab .user-list-pic {
	min-width: 4rem;
	min-height: 4rem;
	width: 4rem;
	height: 4rem;
}

.users-list-tab .user-list-description {
	display: none;
}
