.search-bar-box {
	padding: 0.5rem;
	margin-bottom: 1rem;
}

.search-user-bar {
	width: 100%;
	font-size: var(--BigTextsize);
	color: inherit;
}

.users-table {
	display: flex;
	width: 100%;
	flex-direction: column;
}

.users-list-tab {
	display: flex;
	height: fit-content;
	max-height: 95%;
	width: 100%;
	max-width: 30rem;
	flex-direction: column;
	overflow: auto;
	background-color: var(--BackgroundColor);
}

.list-user-container {
	width: 100%;
	padding: 0.8rem 0.4rem;
	height: fit-content;
	display: flex;
	align-items: center;
	border: 1px solid var(--BorderColor);
}

.list-user-info {
	width: 100%;
	display: flex;
	align-items: center;
}

.list-user-pic {
	width: 7rem;
	height: 7rem;
	object-fit: cover;
	cursor: pointer;
	border: 1px solid var(--BorderColor);
	margin-right: 1rem;
	border-radius: 50%;
}

.users-list-tab .list-user-pic {
	min-width: 4rem;
	min-height: 4rem;
	width: 4rem;
	height: 4rem;
}

.users-list-tab .list-user-description {
	display: none;
}

.list-name-container {
	display: flex;
	flex-direction: column;
}

.list-user-username {
	text-decoration: none;
	color: var(--colortext);
	font-size: var(--BigTextsize);
	width: 100%;
	font-weight: bold;
}

.list-user-name {
	width: 100%;
	white-space: initial;
	font-size: var(--textsize);
}

.list-user-description {
	display: none;
	overflow: hidden;
	height: fit-content;
	max-height: 7rem;
	font-size: var(--SmallTextsize);
}

.box-container {
	justify-content: center;
}

@media only screen and (min-width: 490px) {
	.list-user-info {
		width: 40%;
		margin-right: 5%;
	}

	.list-user-name {
		white-space: nowrap;
	}

	.list-user-description {
		display: block;
		width: 55%;
	}
}

@media only screen and (min-width: 810px) {
	.list-user-container {
		padding-left: 5%;
	}

	.list-user-info {
		width: 35%;
	}

	.users-table {
		width: 90%;
	}
}

@media only screen and (min-width: 1000px) {
	.users-table {
		width: 75%;
	}
}