/* Default variables for color an text size, every other CSS file depends on them */
:root {
    --bgColor: #222831;
    --layoutColor: #393E46;
    --ShadowColor: #393E46;
    --borderColor: #EEEEEE; 
    --colorText: white;
    --smallFS: 1.05rem;
    --normalFS: 1.25rem;
    --bigFS: 1.5rem;
}

@media only screen and (min-width: 768px){
    :root {
        --smallFS: 0.95rem;
        --normalFS: 1.1rem;
        --bigFS: 1.4rem;
    }
}

/* When Lightmode is triggered, the document gets the data-theme attribute equalt to "light" 
and changes the values of the main variables*/
[data-theme="light"] {
    --bgColor: rgb(255, 255, 255);
    --layoutColor: rgb(200,200,200);
    --ShadowColor: rgb(200,200,200);
    --borderColor: rgb(0, 0, 0);
    --colorText: black;
}

body {
    background-color: var(--bgColor) !important;
    color: var(--colorText) !important;
    font-size: var(--normalFS) !important;
}