:root {
    --BackgroundColor: rgb(20, 20, 20);
    --LayoutColor: rgb(15, 15, 15);
    --ShadowColor: rgb(27, 27, 27);
    --BorderColor: rgb(255, 255, 255);
    --colortext: white;
    --postBorder: rgb(128, 128, 128);
    --SmallTextsize: 0.8rem;
    --textsize: 1rem;
    --BigTextsize: 1.2rem;
}

[data-theme="light"] {
    --BackgroundColor: rgb(255, 255, 255);
    --LayoutColor: rgb(200,200,200);
    --ShadowColor: rgb(200,200,200);
    --BorderColor: rgb(0, 0, 0);
    --colortext: black;
}

body {
    background-color: var(--BackgroundColor) !important;
    color: var(--colortext) !important;
    font-size: var(--textsize) !important;
}


/*
    --BackgroundColor: #121212;
    --LayoutColor: #0f0f0f;
    --ShadowColor: #1b1b1b;
    --BorderColor: #ffffff;
    --colortext: #ffffff;
*/