:root {
    /*--BackgroundColor: rgb(47, 0, 102);*/
    --BackgroundColor: rgb(18, 18, 18);
    --LayoutColor: rgb(15, 15, 15);
    --ShadowColor: rgb(27, 27, 27);
    --BorderColor: rgb(255, 255, 255);
    --colortext: white;
    --postBorder: rgb(128, 128, 128);
    --SmallTextsize: 1.2rem;
    --textsize: 1.4rem;
    --BigTextsize: 2rem;
}