<link rel="stylesheet" href="~/css/PostDiv.css" asp-append-version="true"/>

<form method="post" asp-action="CreatePost" enctype="multipart/form-data">
	<div id="ContentHolder" class="content-holder">
		<textarea name="Content"></textarea>

		<div class="button-holder">
			<input type="button" value="Cancel" onclick="RemoveTab()" />
			<input type="button" value="Image" onclick="document.getElementById('File').click()" />
			<input type="file" id="File" name="Media" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" onchange="ImagePreview(this, document.getElementById('ImageHolder'), document.getElementById('ContentHolder'))" style="display: none;" />
			<input type="submit" value="Post" />
		</div>
	</div>

	<div id="ImageHolder" class="image-holder">
	</div>
</form>