@using WebProject.Models;
@model PostModel

@if (Model is PostModel)
{
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="UserId" value="@Model.UserModelId" />

        <div id="EditContentHolder" class="ContentDiv">
            <textarea name="Content">@Model.PostContent</textarea>

            <div class="ButtonHolder">
                <input type="button" value="Cancel" onclick="RemoveEditPostTab()" />
                <input type="button" value="Image" onclick="document.getElementById('EditFile').click()" />
                <input type="file" id="EditFile" name="pic" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" onchange="EditImagePreview(this, document.getElementById('EditImageHolder'))" style="display: none;" />
                <input type="submit" value="Post" />
            </div>
        </div>

        <div id="EditImageHolder" class="ImageDiv">
            @if (Model.Media != null)
            {
                <img id="SRC" src="data:image/png;base64,@Convert.ToBase64String(Model.Media)" style="display:none;"/>
                <script>
                    EditImage(document.getElementById("SRC").src);
                </script>
            }
        </div>

    </form>
}
else
{
    <h1>null</h1>
}

