@model IList<PostModel>

@foreach (PostModel post in Model)
{
	<article id="@post.Id" onclick="ShowCompletePost(@post.Id)" data-post-container>
		<partial name="Post" model="post"></partial>

		@{
			post.Comments = post.Comments.OrderByDescending(c => c.Likes).ToList();
			int amount = 0;
			bool userAmount = int.TryParse(ViewData["commentsAmount"]?.ToString(), out amount);
		}

		@for (int i = 0; i < post.Comments.Count; i++)
		{
			if (userAmount)
			{
				if (i < amount)
				{
					<partial name="Comment" model="post.Comments[i]"></partial>
				}
				else
				{
					<a class="complete-post-button" onclick="ShowCompletePost(@post.Id)" >View all the Comments</a>
					break;
				}
			}
			else
			{
				<partial name="Comment" model="post.Comments[i]"></partial>
			}
		}
	</article>

	@*onclick="location = '/@post.User.UserName/hop/@post.Id'"*@
	@*href = "/@post.User.UserName/hop/@post.Id"*@
}
