<div class="ActionsBox">
	<a asp-area="" asp-action="EditProfile">Edit profile</a>
	<a asp-area="" asp-action="Appearance">Web Appearance</a>
	<a asp-area="" asp-action="PostSettings">Post settings</a>
	<a asp-area="" asp-action="Security">Passwords and Email Account</a>
</div>
