<div class="actions-container">
	<a asp-area="" asp-action="EditProfile" id="EditProfile">Edit profile</a>
	<a asp-area="" asp-action="Appearance" id="Appearance">Web Appearance</a>
	<a asp-area="" asp-action="Security" id="Security">Passwords and Security</a>
</div>


<script>
	var text = window.location.href;

	if (text.includes("EditProfile")) {
		var a = document.getElementById("EditProfile");
		a.style.borderBottom = "2px solid var(--colortext)";
	}

	if (text.includes("Appearance")) {
		var a = document.getElementById("Appearance");
		a.style.borderBottom = "2px solid var(--colortext)";
	}

	if (text.includes("Security")) {
		var a = document.getElementById("Security");
		a.style.borderBottom = "2px solid var(--colortext)";
	}
</script>

