@model List<UserModel>

@foreach(UserModel user in Model){
	<div class="list-user-container">
		<div class="list-user-info">
			@if (user.ProfilePicture != null)
			{
				<img class="list-user-pic" onclick="location = '/@user.UserName'; event.stopPropagation()"
				src="@(user.ProfilePicture.StartsWith("https") ? "" : "data:image/png;base64,")@user.ProfilePicture" alt="@user.UserName" />
			}
			else
			{
				<img class="list-user-pic" src="~/NullProfilePic.png" 
				onclick="location = '/@user.UserName'; event.stopPropagation()" />
			}
			<div class="list-name-container">
				<a asp-action="UserPage" asp-controller="User" asp-route-UserName="@user?.UserName" class="list-user-username">@user?.UserName</a>
				<div class="list-user-name">@user?.Name</div>
			</div>
		</div>

		<div class="list-user-description">@user?.Description</div>
	</div>
}

