@model UserModel

<div class="display-tab" id="DisplayTab" onmousedown="event.stopPropagation();">
	<div class="user-info">
		@if (Model.ProfilePicture != null)
		{
			<img src="data:image/png;base64,@Model.ProfilePicture" class="user-pic" />
		}
		else
		{
			<img class="user-pic" src="" />
		}

		<div>@Model.UserName</div>

		@if (!string.IsNullOrEmpty(Model.Name))
		{
			<div>@Model.Name</div>
		}

		@if (!string.IsNullOrEmpty(Model.Description))
		{
			<div class="user-description">@Model.Description</div>
		}

		<div>Born: @Model.DateofBirth.ToShortDateString()</div>
	</div>
</div>