<!DOCTYPE html>
<html lang="en">
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="color-scheme" content="dark light"/>
	<title>@ViewData["Title"]</title>

	<link rel="stylesheet" href="~/css/WebVariables.css" asp-append-version="true"/>
	<script src="~/js/ChangeMode.js" asp-append-version="true"></script>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/WebProject.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/_WebLayout.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="head-bar">
			<div class="head-container">
				<div class="head-home">
					<!--Image that when click display the DisplayTab with the user info-->
					@if (Model is UserModel)
					{
						<img src="data:image/png;base64,@Model.ProfilePicture" id="UserMobilePic" class="user-info-mobile" onclick="ToggleTab()" onmousedown="event.stopPropagation();" />
					}
					else if (Model is PasswordUser)
					{
						<img src="data:image/png;base64,@Model.User.ProfilePicture" id="UserMobilePic" class="user-info-mobile" onclick="ToggleTab()" onmousedown="event.stopPropagation();" />
					}
					else if (Model is DynamicUser)
					{
						<img src="data:image/png;base64,@Model.PageUser.ProfilePicture" id="UserMobilePic" class="user-info-mobile" onclick="ToggleTab()" onmousedown="event.stopPropagation();" />
					}
				</div>

				<div class="head-list" id="HeadList" onmousedown="event.stopPropagation();">
					<div class="head-list-buttons">
						<div></div>
						<div></div>
						<div></div>
					</div>
					
					<div class="tab-list" id="TabList" onclick="event.stopPropagation();">
						@if (Model is not null && Model is not LoginModel)
						{
							<a asp-area="" asp-controller="Profile" asp-action="Index">Home</a>
						}

						@if (Model is null || Model is LoginModel)
						{
							<a asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
							<a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
						}
						
						@if (Model is not null && Model is not LoginModel)
						{
							<a asp-area="" asp-controller="User" asp-action="AllUsers">Users</a>
							<a class="right" asp-area="" asp-controller="Settings" asp-action="EditProfile">Settings</a>
						}
					</div>
				</div>
			</div>
		</nav>

		@if (Model is UserModel)
		{
			<partial name="UserDisplayTab" model="Model"></partial>
		}
		else if (Model is PasswordUser)
		{
			<partial name="UserDisplayTab" model="Model.User"></partial>
		}
		else if (Model is DynamicUser)
		{
			<partial name="UserDisplayTab" model="Model.PageUser"></partial>
		}

		@if (!string.IsNullOrEmpty(ViewBag.Message)){
			<div class="alert-message" id="MessageSuccess">@ViewBag.Message <div class="close-button" onclick="this.parentElement.style.display='none';"></div></div>
		}
		else if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
		{
			<div class="alert-message" id="MessageSuccess">@ViewBag.ErrorMessage <div class="close-button" onclick="this.parentElement.style.display='none';"></div></div>
		}
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/MobileTabs.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
