<link rel="stylesheet" href="~/css/PostDiv.css" asp-append-version="true"/>

<form>
	<div id="ContentHolder" class="content-holder">
		<textarea name="Content"></textarea>

		<div class="button-holder">
			<input type="button" value="Cancel" onclick="RemoveCreateCommentTab()" />
			<input type="button" value="Comment" onclick="CreateComment(this)" />
		</div>
	</div>
</form>
@Html.AntiForgeryToken()