<div id="create-comment-form" class="post-crud" ondblclick="event.stopPropagation()">
	<div id="ContentHolder" class="content-holder">
		<textarea name="Content"></textarea>

		<div class="button-holder">
			<input type="button" value="Cancel" onclick="RemoveTab()" />
			<input type="button" value="Comment" onclick="CreateComment(this)" />
		</div>
	</div>
</div>
@Html.AntiForgeryToken()