@model LoginModel

@{
	ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/RegisterCSS.css" asp-append-version="true"/>

<h1 class="CenterOb">Log in</h1>

<br />

<div class="CentralContainer">
	<form method="post" autocomplete="on">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="FieldContainer">
			<input type="hidden" asp-for="ReturnUrl" />

			<label asp-for="UserName"></label>
			<input asp-for="UserName" onfocus="CleanErrorMessage()" />
			<span asp-validation-for="UserName" class="text-danger"></span>
			@*<span id="error" class="text-danger"></span>*@

			<label asp-for="Password"></label>
			<input asp-for="Password">
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>

		<div class="ButtonContainer">
			<a asp-area="" asp-action="Register">Create an account</a>
			<input type="submit" value="Log in"/>
		</div>
	</form>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<pre>
	Eliot09
	Eliot09@gmail.com
	Eliot_Password09
</pre>

@*<script>
var error = document.getElementById("error");

function CleanErrorMessage() {
	error.innerHTML = "";
}
</script>*@