@model UserModel
@{
	ViewData["Title"] = "Explore";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true" />

<style>
	.user-table {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
</style>

<div class="box-container">
	<div class="left-box">
	</div>

	<div class="center-box">
		<div class="users-table" id="UsersTable">

		</div>
	</div>

	<div class="right-box">
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/CommandScripts.js" asp-append-version="true"></script>