@model UserModel
@{
	ViewData["Title"] = "Explore";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/UserCSS.css" asp-append-version="true"/>

<div class="box-container">
	@*<div class="left-box">
	</div>*@

	<div class="center-box">
		<div class="users-table" id="UsersTable">

		</div>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
	$(document).ready(function () {
		$.get("/User/GetUsers", function (data, status) {
			if (status === "success") {
				$('#UsersTable').html(data);
			}
		});
	});
</script>