@model UserModel
@{
	ViewData["Title"] = "Explore";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/UserCSS.css" asp-append-version="true"/>

<div class="search-bar-box">
	<input class="search-user-bar" type="text" onkeyup="SearchUserName(this)"/>
</div>

<section class="box-container">
	<div class="users-table">
		@*@await Component.InvokeAsync("AllUsers")*@
	</div>
</section>

<script src="~/js/SearchUser.js" asp-append-version="true"></script>