@model DynamicUser

@{
	ViewData["Title"] = Model.PageUser.UserName ?? "User not Found";
	ViewData["UserId"] = Model.User.Id;
}

<link rel="stylesheet" href="~/css/UserCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/PostContainer.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/PostForms.css" asp-append-version="true"/>

<style>
	#pageuser-comments{
		border-bottom: 3px solid var(--BorderColor);
	}
</style>

<section class="box-container">
	<section class="left-box">
		<partial name="ProfilePageUser"></partial>
	</section>

	<section class="center-box" id="UserPostContainer">
		@if (Model.PageUser != null)
		{
			<partial name="PageUserNav"></partial>

			@foreach (PostModel post in Model.PageUser.Posts.Reverse())
			{
				<article id="@post.Id" onclick="location = '@post.User.UserName/hop/@post.Id'" data-post-container>
					<partial name="Post" model="post"></partial>
					@{
						post.Comments = post.Comments.OrderByDescending(c => c.Likes).ToList();
					}

					@for (int i = 0; i < post.Comments.Count; i++)
					{
						<partial name="Comment" model="post.Comments[i]"></partial>
					}
				</article>
			}
		}

	</section>

	<section class="right-box">
		<p style="margin: 0; text-align: center;">Users with most likes</p>
		@await Component.InvokeAsync("TendencyUsers", new { amount = 10 })
	</section>
</section>

<script src="~/js/AsyncCRUD.js" asp-append-version="true"></script>
<script src="~/js/PostsScript.js" asp-append-version="true"></script>
<script src="~/js/CommentsScript.js" asp-append-version="true"></script>
<script src="~/js/ImagePrev.js" asp-append-version="true"></script>

<script>
	function ShowPostImg(element) {
		const img = element.nextElementSibling;
		img.id = "currentimg";
		$(`#${img.id}`).slideToggle();
		img.id = "";
	}
</script>