@model DynamicUser

@{
	ViewData["Title"] = Model.PageUser.UserName ?? "User not Found";
	ViewData["UserId"] = Model.User.Id;
	PostModel post = Model.PageUser.Posts[0];
}

<link rel="stylesheet" href="~/css/UserCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/PostContainer.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/PostForms.css" asp-append-version="true" />

<section class="box-container" id="UserPostContainer">
	<section class="left-box">
		<partial name="ProfilePageUser"></partial>
	</section>

	<section class="center-box">
		<article id="@post.Id" data-post-container>
			<partial name="Post" model="post"></partial>

			@foreach (CommentModel comment in post.Comments.OrderByDescending(c => c.Likes))
			{
				<partial name="Comment" model="comment"></partial>
			}
		</article>
	</section>

	<section class="right-box">
		@await Component.InvokeAsync("TendencyUsers", new { amount = 10 })
	</section>
</section>

<script src="~/js/AsyncCRUD.js" asp-append-version="true"></script>
<script src="~/js/PostsScript.js" asp-append-version="true"></script>
<script src="~/js/CommentsScript.js" asp-append-version="true"></script>
<script src="~/js/ImagePrev.js" asp-append-version="true"></script>

<script>
	function RedirectToUserPage() {
		location = '/';
	}
</script>