@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" />

<div class="AllContainer">
    <div class="LeftBox">

    </div>

    <div class="CenterBox">
        @foreach (var p in Model.PageUser.Posts)
        {
            <div class="Post">
                <div class="PostInfo">
                    <img />
                    <span>@Model.PageUser.Username</span>
                </div>

                <div class="PostCotent">
                    <div>
                        @p.PostContent
                    </div>
                </div>

                <div class="PostStats">
                    <button type="button" >Likes:</button>
                    <span>@p.Likes</span>

                    <button type="button">Comments:</button>
                    <span>0</span>
                </div>
            </div>
        }
    </div>

    <div class="RightBox">

    </div>
</div>