@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" />

<div>
    <a asp-area="" asp-page="/Register">Register</a>
    <p><a asp-area="" asp-page="/Login">Login</a></p>
</div>

<div class="CenterBox">

</div>

<div>

</div>

<div>

</div>