@model UserModel
@{
	ViewData["Title"] = "Web Appearance";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/FormsCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/SettingsCSS.css" asp-append-version="true" />

<div class="box-container">
	<div class="top-box">
		<partial name="SettingsActions"></partial>
	</div>

	<hr style="margin: 0.5rem 0" />

	<div class="center-box">
		<div class="appearance-options">
			<label class="label-block">Change mode</label>
			<hr />

			<label for="LightMode">Light mode</label>
			<input type="radio" id="LightMode" name="mode" value="Lightmode" onclick="ChangeMode()" />

			<label for="DarkMode">Dark mode</label>
			<input type="radio" id="DarkMode" name="mode" value="Darkmode" onclick="ChangeMode()" />

			<label class="label-block">Customize Appareance</label>
			<hr />

			<label class="label-block">Background Color</label>
			<input type="color" id="ColorBackground" value="#141414" />

			<label class="label-block">Layout Color</label>
			<input type="color" id="ColorLayout" value="#0f0f0f" />

			<label class="label-block">Text Color</label>
			<input type="color" id="ColorText" value="#ffffff" />

			<label class="label-block">Border Color</label>
			<input type="color" id="ColorBorder" value="#ffffff" />

			<label class="label-block">Shadow Color</label>
			<input type="color" id="ColorShadow" value="#1b1b1b" />

			<input class="button-edit" type="button" onclick="CostumAppareance()" value="Apply changes" />

			<label class="label-block">Post Settings</label>

			<label>Auto-show post images</label>
			<label class="Switch">
				@if (Model.ShowImages)
				{
					<input id="ShowImages" type="checkbox" class="ToggleButton" value="@Model.ShowImages" checked />
				}
				else
				{
					<input id="ShowImages" type="checkbox" class="ToggleButton" value="@Model.ShowImages" />
				}
				<span class="BallButton round"></span>
			</label>
		</div>
	</div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/AppearanceJS.js" asp-append-version="true"></script>

<script>
if (savedTheme == "Darkmode") {
	document.getElementById("DarkMode").checked = true;
}

if (savedTheme == "Lightmode") {
	document.getElementById("LightMode").checked = true;
}
</script>