@model UserModel
@{
	ViewData["Title"] = "Edit Profile";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/FormsCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/SettingsCSS.css" asp-append-version="true" />

<div class="box-container">
	<div class="top-box">
		<partial name="SettingsActions"></partial>
	</div>

	<hr style="margin: 0.5rem" />

	<div class="center-box">
		<h4>Profile</h4>
		<hr style="margin: 0.5rem"/>

		<form method="post" enctype="multipart/form-data">
			<div class="flex-container">
				<div class="field-container">
					<label>Username</label>
					<input name="UserName" value="@Model.UserName" />
					<span asp-validation-for="UserName" class="text-danger"></span>

					<label>Name</label>
					<input name="Name" value="@Model?.Name" />
					<span asp-validation-for="Name" class="text-danger"></span>

					<label>Description</label>
					<textarea name="Description">@Model?.Description</textarea>
					<span asp-validation-for="Description" class="text-danger"></span>

					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				</div>

				<div class="settings-pic-frame">
					@if (Model?.ProfilePicture != null)
					{
						<img src="data:image/png;base64,@Model.ProfilePicture" id="SettingsFrame" />
					}
					else
					{
						<img src="~/NullProfilePic.png" id="SettingsFrame" />
					}
					<input type="button" value="Edit Picture" onclick="document.getElementById('Settingsfile').click()" class="button-edit" />
					<input type="file" id="Settingsfile" name="ProfilePicture" accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*" onchange="SettingImagePreview(this)" style="display:none;" />
				</div>
			</div>

			<div class="settings-button">
				<p>For changing the password and email address check "Passwords and Security".</p>
				<input type="submit" value="Update profile" class="button-edit" />
			</div>
		</form>
	</div>
</div>

<script src="~/js/ImagePrev.js" asp-append-version="true"></script>

<script>
	const Message = document.getElementById("MessageSuccess");
	if (Message){
		setInterval(function() {Message.style.display = "none"}, 30000);
	}

	function SettingImagePreview(input) {
		const [file] = input.files;

		if (file) {
			var frame = document.getElementById("SettingsFrame");

			if (!frame) {
				return;
			}

			frame.src = URL.createObjectURL(file);
		}
	}
</script>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}