@model UserModel
@{
	ViewData["Title"] = "Settings";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/HomePageMid.css" asp-append-version="true"/>

<div class="AllContainer" style="height: 40rem;">
	<div class="LeftBox" style="width:39%; border: 1px solid green;">

	</div>

	<div class="CenterBox" style="width: 60%; height:100%; border: 1px solid red; margin-right: 0;">

	</div>
</div>