@model UserModel
@{
	ViewData["Title"] = "Passwords and Security";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/RegisterCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/HomePageMid.css" asp-append-version="true" />

<div class="AllContainer AllContainerSettings">
	<div class="LeftBoxSettings">
		<partial name="SettingsActions"></partial>
	</div>

	<hr style="margin: 0.5rem 0" />

	<div class="SettingsCenterBox CenterBox"><br />
		<label>Change password</label>
		<hr style="margin: 0.5rem" />

		<form method="post">
			<input type="hidden" asp-for="Id" value="@Model.Id"/>
			<div class="FieldContainer InputSettings">
				<label>Old Password</label>
				<input name="OldPassword" type="password"/>

				<label>New password</label>
				<input asp-for="Password"/>
				<span asp-validation-for="Password" class="text-danger"></span>

				<label>Confirm new password</label>
				<input asp-for="ConfirmPassword"/>
				<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			</div>

			<div class="SettingsButton">
				<input type="submit" value="Update password" class="ButtonEdit"/>
			</div>
		</form>

		<br />
		<br />

		<label>Change email address</label>
		<hr style="margin: 0.5rem" />
		
		<label>Current email address: </label>
		<label><b>@Model.EmailAddress</b></label>

		<br />
		<br />

		<form method="post" novalidate action="ChangeEmail" id="myform">
			<input type="hidden" asp-for="Id" value="@Model.Id" />
			<div class="FieldContainer InputSettings">
				<label>New email address</label>
				<input asp-for="EmailAddress" />
				<span asp-validation-for="EmailAddress" class="text-danger"></span>
			</div>

			<div class="SettingsButton">
				<input type="submit" value="Update email address" class="ButtonEdit" form="myform" />
			</div>
		</form>
	</div>
</div>

<script>
	const Message = document.getElementById("MessageSuccess");
	if (Message) {
		setInterval(function () { Message.style.display = "none" }, 30000);
	}
</script>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}