@model UserModel
@{
	ViewData["Title"] = "Passwords and Security";
}

<link rel="stylesheet" href="~/css/HomePageCSS.css" asp-append-version="true"/>
<link rel="stylesheet" href="~/css/RegisterCSS.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/HomePageMid.css" asp-append-version="true" />

<div class="AllContainer AllContainerSettings">
	<div class="LeftBoxSettings">
		<partial name="SettingsActions"></partial>
	</div>

	<hr style="margin: 0.5rem 0" />

	<div class="SettingsCenterBox CenterBox"><br />
		
	</div>
</div>
